# Script for CSV Data


Here, the CSV dataset imported from Kaggle is being transformed into a SparkDataFrame and subsequently cleaned. The numeric data, which is initially in string format, is converted to integer or double values. Duplicates are removed, and the season year is adjusted to match the season years in the other datasets. Additionally, the name of Michael Jordan had to be explicitly changed because it was listed as "Michael Jordan*", which would have resulted in the loss of the player during the inner join. Therefore, it was renamed to "Michael Jordan."

### Convert CSV-Data in Spark-DataFrame

In [1]:
import pymongo as mdb
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder.getOrCreate()
spark_df= spark.read.csv("Seasons_Stats.csv", header=True)

## View Schema of Dataframe

In [3]:
spark_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Player: string (nullable = true)
 |-- Pos: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tm: string (nullable = true)
 |-- G: string (nullable = true)
 |-- GS: string (nullable = true)
 |-- MP: string (nullable = true)
 |-- PER: string (nullable = true)
 |-- TS%: string (nullable = true)
 |-- 3PAr: string (nullable = true)
 |-- FTr: string (nullable = true)
 |-- ORB%: string (nullable = true)
 |-- DRB%: string (nullable = true)
 |-- TRB%: string (nullable = true)
 |-- AST%: string (nullable = true)
 |-- STL%: string (nullable = true)
 |-- BLK%: string (nullable = true)
 |-- TOV%: string (nullable = true)
 |-- USG%: string (nullable = true)
 |-- blanl: string (nullable = true)
 |-- OWS: string (nullable = true)
 |-- DWS: string (nullable = true)
 |-- WS: string (nullable = true)
 |-- WS/48: string (nullable = true)
 |-- blank2: string (nullable = true)
 |-- OBPM: string (nullable = true)
 |-- DBPM: string (nullable = true)
 |-- BPM: string (nullable = true)
 |-- VORP: string (nullable = true)
 |-- FG: string (nullable = true)
 |-- FGA: string (nullable = true)
 |-- FG%: string (nullable = true)
 |-- 3P: string (nullable = true)
 |-- 3PA: string (nullable = true)
 |-- 3P%: string (nullable = true)
 |-- 2P: string (nullable = true)
 |-- 2PA: string (nullable = true)
 |-- 2P%: string (nullable = true)
 |-- eFG%: string (nullable = true)
 |-- FT: string (nullable = true)
 |-- FTA: string (nullable = true)
 |-- FT%: string (nullable = true)
 |-- ORB: string (nullable = true)
 |-- DRB: string (nullable = true)
 |-- TRB: string (nullable = true)
 |-- AST: string (nullable = true)
 |-- STL: string (nullable = true)
 |-- BLK: string (nullable = true)
 |-- TOV: string (nullable = true)
 |-- PF: string (nullable = true)
 |-- PTS: string (nullable = true)

### Data Cleaning

In [4]:
# Transform the Numerical Data to Doubles/Integers
cleaned_df = spark_df.withColumn("Year", col("Year").cast("integer")) \
                     .withColumn("Age", col("Age").cast("integer")) \
                     .withColumn("GS", col("GS").cast("double")) \
                     .withColumn("PER", col("PER").cast("double")) \
                     .withColumn("TS%", col("TS%").cast("double")) \
                     .withColumn("FTr", col("FTr").cast("double")) \
                     .withColumn("OWS", col("OWS").cast("double")) \
                     .withColumn("DWS", col("DWS").cast("double")) \
                     .withColumn("WS", col("WS").cast("double")) \
                     .withColumn("OBPM", col("OBPM").cast("double")) \
                     .withColumn("DBPM", col("DBPM").cast("double")) \
                     .withColumn("2P", col("2P").cast("double")) \
                     .withColumn("2PA", col("2PA").cast("double")) \
                     .withColumn("2P%", col("2P%").cast("double")) \
                     .withColumn("eFG%", col("eFG%").cast("double")) \
                     .withColumn("USG%", col("USG%").cast("double")) \

cleaned_df.show(5)

+---+----+---------------+---+---+---+---+----+----+----+-----+----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+---+---+-----+----+----+----+-----+-----+-----+-----+---+---+-----+----+----+----+---+----+----+----+---+---+
|_c0|Year|         Player|Pos|Age| Tm|  G|  GS|  MP| PER|  TS%|3PAr|  FTr|ORB%|DRB%|TRB%|AST%|STL%|BLK%|TOV%|USG%|blanl| OWS| DWS|  WS|WS/48|blank2|OBPM|DBPM| BPM|VORP| FG|FGA|  FG%|  3P| 3PA| 3P%|   2P|  2PA|  2P%| eFG%| FT|FTA|  FT%| ORB| DRB| TRB|AST| STL| BLK| TOV| PF|PTS|
+---+----+---------------+---+---+---+---+----+----+----+-----+----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+---+---+-----+----+----+----+-----+-----+-----+-----+---+---+-----+----+----+----+---+----+----+----+---+---+
|  0|1950|Curly Armstrong|G-F| 31|FTW| 63|null|null|null|0.368|null|0.467|null|null|null|null|null|null|null|null| null|-0.1| 3.6| 3.5| null|  null|null|null|null|null|144|516|0.279|null|null|null|144.0|516.0|0.279|0.279|170|241|0.705|null|null|null|176|null|null|null|217|458|
|  1|1950|   Cliff Barker| SG| 29|INO| 49|null|null|null|0.435|null|0.387|null|null|null|null|null|null|null|null| null| 1.6| 0.6| 2.2| null|  null|null|null|null|null|102|274|0.372|null|null|null|102.0|274.0|0.372|0.372| 75|106|0.708|null|null|null|109|null|null|null| 99|279|
|  2|1950|  Leo Barnhorst| SF| 25|CHS| 67|null|null|null|0.394|null|0.259|null|null|null|null|null|null|null|null| null| 0.9| 2.8| 3.6| null|  null|null|null|null|null|174|499|0.349|null|null|null|174.0|499.0|0.349|0.349| 90|129|0.698|null|null|null|140|null|null|null|192|438|
|  3|1950|     Ed Bartels|  F| 24|TOT| 15|null|null|null|0.312|null|0.395|null|null|null|null|null|null|null|null| null|-0.5|-0.1|-0.6| null|  null|null|null|null|null| 22| 86|0.256|null|null|null| 22.0| 86.0|0.256|0.256| 19| 34|0.559|null|null|null| 20|null|null|null| 29| 63|
|  4|1950|     Ed Bartels|  F| 24|DNN| 13|null|null|null|0.308|null|0.378|null|null|null|null|null|null|null|null| null|-0.5|-0.1|-0.6| null|  null|null|null|null|null| 21| 82|0.256|null|null|null| 21.0| 82.0|0.256|0.256| 17| 31|0.548|null|null|null| 20|null|null|null| 27| 59|
+---+----+---------------+---+---+---+---+----+----+----+-----+----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+---+---+-----+----+----+----+-----+-----+-----+-----+---+---+-----+----+----+----+---+----+----+----+---+---+
only showing top 5 rows

In [5]:
cleaned_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Pos: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tm: string (nullable = true)
 |-- G: string (nullable = true)
 |-- GS: double (nullable = true)
 |-- MP: string (nullable = true)
 |-- PER: double (nullable = true)
 |-- TS%: double (nullable = true)
 |-- 3PAr: string (nullable = true)
 |-- FTr: double (nullable = true)
 |-- ORB%: string (nullable = true)
 |-- DRB%: string (nullable = true)
 |-- TRB%: string (nullable = true)
 |-- AST%: string (nullable = true)
 |-- STL%: string (nullable = true)
 |-- BLK%: string (nullable = true)
 |-- TOV%: string (nullable = true)
 |-- USG%: double (nullable = true)
 |-- blanl: string (nullable = true)
 |-- OWS: double (nullable = true)
 |-- DWS: double (nullable = true)
 |-- WS: double (nullable = true)
 |-- WS/48: string (nullable = true)
 |-- blank2: string (nullable = true)
 |-- OBPM: double (nullable = true)
 |-- DBPM: double (nullable = true)
 |-- BPM: string (nullable = true)
 |-- VORP: string (nullable = true)
 |-- FG: string (nullable = true)
 |-- FGA: string (nullable = true)
 |-- FG%: string (nullable = true)
 |-- 3P: string (nullable = true)
 |-- 3PA: string (nullable = true)
 |-- 3P%: string (nullable = true)
 |-- 2P: double (nullable = true)
 |-- 2PA: double (nullable = true)
 |-- 2P%: double (nullable = true)
 |-- eFG%: double (nullable = true)
 |-- FT: string (nullable = true)
 |-- FTA: string (nullable = true)
 |-- FT%: string (nullable = true)
 |-- ORB: string (nullable = true)
 |-- DRB: string (nullable = true)
 |-- TRB: string (nullable = true)
 |-- AST: string (nullable = true)
 |-- STL: string (nullable = true)
 |-- BLK: string (nullable = true)
 |-- TOV: string (nullable = true)
 |-- PF: string (nullable = true)
 |-- PTS: string (nullable = true)

### Remove Duplicates

In [6]:
withoutDuplicates_df = cleaned_df.dropDuplicates(subset= ['Player', 'Year'])

In [7]:
# Renaming the columns "Year" to "Season" and "Player" to "Full_Name"
updated_df = withoutDuplicates_df.withColumnRenamed("Player", "Full_Name")
updated_year_df = updated_df.withColumn("Season", col("Year") - 1)
updated_year_df.show(5)

+-----+----+------------+----+----+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
|  _c0|Year|   Full_Name| Pos| Age|  Tm|   G|  GS|  MP| PER|  TS%| 3PAr|  FTr|ORB%|DRB%|TRB%|AST%|STL%|BLK%|TOV%|USG%|blanl| OWS| DWS|  WS|WS/48|blank2|OBPM|DBPM| BPM|VORP|  FG| FGA|  FG%|  3P| 3PA|  3P%|   2P|  2PA|  2P%| eFG%|  FT| FTA|  FT%| ORB| DRB| TRB| AST| STL| BLK| TOV|  PF| PTS|Season|
+-----+----+------------+----+----+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
|  312|null|        null|null|null|null|null|null|null|null| null| null| null|null|null|null|null|null|null|null|null| null|null|null|null| null|  null|null|null|null|null|null|null| null|null|null| null| null| null| null| null|null|null| null|null|null|null|null|null|null|null|null|null|  null|
| 8035|1986|  A.C. Green|  PF|  22| LAL|  82| 1.0|1542|11.8|0.564|0.015| 0.43|12.4|15.5|  14| 4.2| 1.5| 1.7|17.7|14.7| null| 1.4| 2.0| 3.3|0.103|  null|-0.5| 0.8| 0.3| 0.9| 209| 388|0.539|   1|   6|0.167|208.0|382.0|0.545| 0.54| 102| 167|0.611| 160| 221| 381|  54|  49|  49|  99| 229| 521|  1985|
|13034|1997|  A.C. Green|  PF|  33| TOT|  83|73.0|2492|12.4|0.523|0.041|0.407|10.2|20.5|15.3| 4.4| 1.5| 0.5|11.5|11.8| null| 2.4| 2.4| 4.8|0.093|  null|-1.8| 0.7|-1.1| 0.6| 234| 484|0.483|   1|  20| 0.05|233.0|464.0|0.502|0.485| 128| 197| 0.65| 222| 434| 656|  69|  70|  16|  74| 145| 597|  1996|
|14139|1999|  A.C. Green|  PF|  35| DAL|  50|35.0| 924|12.5|0.441|0.031|0.203| 9.9|17.8|13.9| 4.5| 1.6| 0.6| 6.4|14.8| null| 0.7| 0.7| 1.4|0.074|  null|-1.9|-0.9|-2.8|-0.2| 108| 256|0.422|   0|   8|    0|108.0|248.0|0.435|0.422|  30|  52|0.577|  82| 146| 228|  25|  28|   8|  19|  69| 246|  1998|
|10583|1992|A.J. English|  SG|  24| WSB|  81| 6.0|1665|12.5| 0.48| 0.04|0.208| 4.8| 6.3| 5.5|13.7| 0.9| 0.3| 8.8|25.6| null| 0.1| 0.7| 0.9|0.025|  null|-2.0|-3.4|-5.4|-1.4| 366| 846|0.433|   6|  34|0.176|360.0|812.0|0.443|0.436| 148| 176|0.841|  74|  94| 168| 143|  32|   9|  89| 160| 886|  1991|
+-----+----+------------+----+----+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
only showing top 5 rows

### Drop Further Columns

In [8]:
# Drop the column "year" because "Season" is the updated version
updated_drop_df=updated_year_df.drop("Year")
updated_drop_df.show(5)

+-----+------------+----+----+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
|  _c0|   Full_Name| Pos| Age|  Tm|   G|  GS|  MP| PER|  TS%| 3PAr|  FTr|ORB%|DRB%|TRB%|AST%|STL%|BLK%|TOV%|USG%|blanl| OWS| DWS|  WS|WS/48|blank2|OBPM|DBPM| BPM|VORP|  FG| FGA|  FG%|  3P| 3PA|  3P%|   2P|  2PA|  2P%| eFG%|  FT| FTA|  FT%| ORB| DRB| TRB| AST| STL| BLK| TOV|  PF| PTS|Season|
+-----+------------+----+----+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
|  312|        null|null|null|null|null|null|null|null| null| null| null|null|null|null|null|null|null|null|null| null|null|null|null| null|  null|null|null|null|null|null|null| null|null|null| null| null| null| null| null|null|null| null|null|null|null|null|null|null|null|null|null|  null|
| 8035|  A.C. Green|  PF|  22| LAL|  82| 1.0|1542|11.8|0.564|0.015| 0.43|12.4|15.5|  14| 4.2| 1.5| 1.7|17.7|14.7| null| 1.4| 2.0| 3.3|0.103|  null|-0.5| 0.8| 0.3| 0.9| 209| 388|0.539|   1|   6|0.167|208.0|382.0|0.545| 0.54| 102| 167|0.611| 160| 221| 381|  54|  49|  49|  99| 229| 521|  1985|
|13034|  A.C. Green|  PF|  33| TOT|  83|73.0|2492|12.4|0.523|0.041|0.407|10.2|20.5|15.3| 4.4| 1.5| 0.5|11.5|11.8| null| 2.4| 2.4| 4.8|0.093|  null|-1.8| 0.7|-1.1| 0.6| 234| 484|0.483|   1|  20| 0.05|233.0|464.0|0.502|0.485| 128| 197| 0.65| 222| 434| 656|  69|  70|  16|  74| 145| 597|  1996|
|14139|  A.C. Green|  PF|  35| DAL|  50|35.0| 924|12.5|0.441|0.031|0.203| 9.9|17.8|13.9| 4.5| 1.6| 0.6| 6.4|14.8| null| 0.7| 0.7| 1.4|0.074|  null|-1.9|-0.9|-2.8|-0.2| 108| 256|0.422|   0|   8|    0|108.0|248.0|0.435|0.422|  30|  52|0.577|  82| 146| 228|  25|  28|   8|  19|  69| 246|  1998|
|10583|A.J. English|  SG|  24| WSB|  81| 6.0|1665|12.5| 0.48| 0.04|0.208| 4.8| 6.3| 5.5|13.7| 0.9| 0.3| 8.8|25.6| null| 0.1| 0.7| 0.9|0.025|  null|-2.0|-3.4|-5.4|-1.4| 366| 846|0.433|   6|  34|0.176|360.0|812.0|0.443|0.436| 148| 176|0.841|  74|  94| 168| 143|  32|   9|  89| 160| 886|  1991|
+-----+------------+----+----+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
only showing top 5 rows

### Handle Null/NA Values

In [ ]:
# Fill the Null-Values with 0
filled_df = updated_drop_df.fillna(0)
filled_df.show(5)

### Type Casting

In [10]:
# Transform the Seson from Double to Integer
integer_df = filled_df.withColumn("Season", filled_df["Season"].cast("integer"))
integer_df.show(5)

+-----+------------+----+---+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+---+---+---+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
|  _c0|   Full_Name| Pos|Age|  Tm|   G|  GS|  MP| PER|  TS%| 3PAr|  FTr|ORB%|DRB%|TRB%|AST%|STL%|BLK%|TOV%|USG%|blanl|OWS|DWS| WS|WS/48|blank2|OBPM|DBPM| BPM|VORP|  FG| FGA|  FG%|  3P| 3PA|  3P%|   2P|  2PA|  2P%| eFG%|  FT| FTA|  FT%| ORB| DRB| TRB| AST| STL| BLK| TOV|  PF| PTS|Season|
+-----+------------+----+---+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+---+---+---+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
|  312|        null|null|  0|null|null| 0.0|null| 0.0|  0.0| null|  0.0|null|null|null|null|null|null|null| 0.0| null|0.0|0.0|0.0| null|  null| 0.0| 0.0|null|null|null|null| null|null|null| null|  0.0|  0.0|  0.0|  0.0|null|null| null|null|null|null|null|null|null|null|null|null|     0|
| 8035|  A.C. Green|  PF| 22| LAL|  82| 1.0|1542|11.8|0.564|0.015| 0.43|12.4|15.5|  14| 4.2| 1.5| 1.7|17.7|14.7| null|1.4|2.0|3.3|0.103|  null|-0.5| 0.8| 0.3| 0.9| 209| 388|0.539|   1|   6|0.167|208.0|382.0|0.545| 0.54| 102| 167|0.611| 160| 221| 381|  54|  49|  49|  99| 229| 521|  1985|
|13034|  A.C. Green|  PF| 33| TOT|  83|73.0|2492|12.4|0.523|0.041|0.407|10.2|20.5|15.3| 4.4| 1.5| 0.5|11.5|11.8| null|2.4|2.4|4.8|0.093|  null|-1.8| 0.7|-1.1| 0.6| 234| 484|0.483|   1|  20| 0.05|233.0|464.0|0.502|0.485| 128| 197| 0.65| 222| 434| 656|  69|  70|  16|  74| 145| 597|  1996|
|14139|  A.C. Green|  PF| 35| DAL|  50|35.0| 924|12.5|0.441|0.031|0.203| 9.9|17.8|13.9| 4.5| 1.6| 0.6| 6.4|14.8| null|0.7|0.7|1.4|0.074|  null|-1.9|-0.9|-2.8|-0.2| 108| 256|0.422|   0|   8|    0|108.0|248.0|0.435|0.422|  30|  52|0.577|  82| 146| 228|  25|  28|   8|  19|  69| 246|  1998|
|10583|A.J. English|  SG| 24| WSB|  81| 6.0|1665|12.5| 0.48| 0.04|0.208| 4.8| 6.3| 5.5|13.7| 0.9| 0.3| 8.8|25.6| null|0.1|0.7|0.9|0.025|  null|-2.0|-3.4|-5.4|-1.4| 366| 846|0.433|   6|  34|0.176|360.0|812.0|0.443|0.436| 148| 176|0.841|  74|  94| 168| 143|  32|   9|  89| 160| 886|  1991|
+-----+------------+----+---+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+---+---+---+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+------+
only showing top 5 rows

### Special Case

In [11]:
# Renaming Michael Jordan* from Michael Jordan
mj_renaming_df = integer_df.withColumn('Full_Name', F.when(col('Full_Name') == 'Michael Jordan*', 'Michael Jordan').otherwise(col('Full_Name')))

In [12]:
# Put season on the 2nd place
reordered_df = mj_renaming_df.withColumn("Season", col("Season").cast("integer")) \
                         .select(integer_df.columns[0], "Season", *integer_df.columns[1:-1])
reordered_df.show(5)

+-----+------+------------+----+---+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+---+---+---+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+
|  _c0|Season|   Full_Name| Pos|Age|  Tm|   G|  GS|  MP| PER|  TS%| 3PAr|  FTr|ORB%|DRB%|TRB%|AST%|STL%|BLK%|TOV%|USG%|blanl|OWS|DWS| WS|WS/48|blank2|OBPM|DBPM| BPM|VORP|  FG| FGA|  FG%|  3P| 3PA|  3P%|   2P|  2PA|  2P%| eFG%|  FT| FTA|  FT%| ORB| DRB| TRB| AST| STL| BLK| TOV|  PF| PTS|
+-----+------+------------+----+---+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+---+---+---+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+
|  312|     0|        null|null|  0|null|null| 0.0|null| 0.0|  0.0| null|  0.0|null|null|null|null|null|null|null| 0.0| null|0.0|0.0|0.0| null|  null| 0.0| 0.0|null|null|null|null| null|null|null| null|  0.0|  0.0|  0.0|  0.0|null|null| null|null|null|null|null|null|null|null|null|null|
| 8035|  1985|  A.C. Green|  PF| 22| LAL|  82| 1.0|1542|11.8|0.564|0.015| 0.43|12.4|15.5|  14| 4.2| 1.5| 1.7|17.7|14.7| null|1.4|2.0|3.3|0.103|  null|-0.5| 0.8| 0.3| 0.9| 209| 388|0.539|   1|   6|0.167|208.0|382.0|0.545| 0.54| 102| 167|0.611| 160| 221| 381|  54|  49|  49|  99| 229| 521|
|13034|  1996|  A.C. Green|  PF| 33| TOT|  83|73.0|2492|12.4|0.523|0.041|0.407|10.2|20.5|15.3| 4.4| 1.5| 0.5|11.5|11.8| null|2.4|2.4|4.8|0.093|  null|-1.8| 0.7|-1.1| 0.6| 234| 484|0.483|   1|  20| 0.05|233.0|464.0|0.502|0.485| 128| 197| 0.65| 222| 434| 656|  69|  70|  16|  74| 145| 597|
|14139|  1998|  A.C. Green|  PF| 35| DAL|  50|35.0| 924|12.5|0.441|0.031|0.203| 9.9|17.8|13.9| 4.5| 1.6| 0.6| 6.4|14.8| null|0.7|0.7|1.4|0.074|  null|-1.9|-0.9|-2.8|-0.2| 108| 256|0.422|   0|   8|    0|108.0|248.0|0.435|0.422|  30|  52|0.577|  82| 146| 228|  25|  28|   8|  19|  69| 246|
|10583|  1991|A.J. English|  SG| 24| WSB|  81| 6.0|1665|12.5| 0.48| 0.04|0.208| 4.8| 6.3| 5.5|13.7| 0.9| 0.3| 8.8|25.6| null|0.1|0.7|0.9|0.025|  null|-2.0|-3.4|-5.4|-1.4| 366| 846|0.433|   6|  34|0.176|360.0|812.0|0.443|0.436| 148| 176|0.841|  74|  94| 168| 143|  32|   9|  89| 160| 886|
+-----+------+------------+----+---+----+----+----+----+----+-----+-----+-----+----+----+----+----+----+----+----+----+-----+---+---+---+-----+------+----+----+----+----+----+----+-----+----+----+-----+-----+-----+-----+-----+----+----+-----+----+----+----+----+----+----+----+----+----+
only showing top 5 rows

### Further Type Casting

In [13]:
# Convert the "Season" column to integer type
reordered_df = reordered_df.withColumn("Season", reordered_df["Season"].cast("integer"))

## Upload Cleaned Data to MongoDB Collection

In [14]:
years_seasons=[1995, 1996, 1997, 2005, 2006, 2007, 2011, 2012, 2013]

In [15]:
# Select the desired columns from the reordered DataFrame
selected_columns = ['Full_Name','Season', 'Pos', 'GS', 'PER', 'TS%',
                    'FTr', 'USG%', 'OWS', 'DWS',
                    'WS', 'OBPM', 'DBPM', '2P',
                    '2PA', '2P%', 'eFG%']
selected_df = reordered_df.select(selected_columns)

# Filter the data based on the desired years/seasons
filtered_data = selected_df.filter(selected_df["Season"].isin(years_seasons))

# Convert the Spark DataFrame to a pandas DataFrame
pandas_df = filtered_data.toPandas()

### Connect to MongoDB

In [ ]:
# Upload data to MongoDB
client = mdb.MongoClient("mongodb://pt-n20.p4001.w3.cs.technikum-wien.at:4001")
db = client["nba_data"]
collection = db["season_stats_csv"]

### Insert Records into MongoDB Collection

In [ ]:
#collection.insert_many(pandas_df.to_dict("records"))
print("Data uploaded to MongoDB successfully.")

### Close Connection

In [ ]:
client.close()

In [ ]:
spark.stop()