# DataCleaning

### Convert CSV-Data in Spark-DataFrame

In [210]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

data = spark.read.csv("Seasons_Stats.csv", header=True)

In [211]:
### Print Schema to see the belonging Datatype

In [212]:
spark_df.printSchema()

root
 |-- : string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Player: string (nullable = true)
 |-- Pos: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tm: string (nullable = true)
 |-- G: string (nullable = true)
 |-- GS: string (nullable = true)
 |-- MP: string (nullable = true)
 |-- PER: string (nullable = true)
 |-- TS%: string (nullable = true)
 |-- 3PAr: string (nullable = true)
 |-- FTr: string (nullable = true)
 |-- ORB%: string (nullable = true)
 |-- DRB%: string (nullable = true)
 |-- TRB%: string (nullable = true)
 |-- AST%: string (nullable = true)
 |-- STL%: string (nullable = true)
 |-- BLK%: string (nullable = true)
 |-- TOV%: string (nullable = true)
 |-- USG%: string (nullable = true)
 |-- blanl: string (nullable = true)
 |-- OWS: string (nullable = true)
 |-- DWS: string (nullable = true)
 |-- WS: string (nullable = true)
 |-- WS/48: string (nullable = true)
 |-- blank2: string (nullable = true)
 |-- OBPM: string (nullable = true)
 |-- DBPM: string (nullable = true)
 |-- BPM: string (nullable = true)
 |-- VORP: string (nullable = true)
 |-- FG: string (nullable = true)
 |-- FGA: string (nullable = true)
 |-- FG%: string (nullable = true)
 |-- 3P: string (nullable = true)
 |-- 3PA: string (nullable = true)
 |-- 3P%: string (nullable = true)
 |-- 2P: string (nullable = true)
 |-- 2PA: string (nullable = true)
 |-- 2P%: string (nullable = true)
 |-- eFG%: string (nullable = true)
 |-- FT: string (nullable = true)
 |-- FTA: string (nullable = true)
 |-- FT%: string (nullable = true)
 |-- ORB: string (nullable = true)
 |-- DRB: string (nullable = true)
 |-- TRB: string (nullable = true)
 |-- AST: string (nullable = true)
 |-- STL: string (nullable = true)
 |-- BLK: string (nullable = true)
 |-- TOV: string (nullable = true)
 |-- PF: string (nullable = true)
 |-- PTS: string (nullable = true)

In [213]:
### Transform the Numerical Data to Doubles/Integers

In [214]:
from pyspark.sql.functions import col
cleaned_df = spark_df.withColumn("Year", col("Year").cast("integer")) \
                     .withColumn("Age", col("Age").cast("integer")) \
                     .withColumn("GS", col("GS").cast("double")) \
                     .withColumn("PER", col("PER").cast("double")) \
                     .withColumn("TS%", col("TS%").cast("double")) \
                     .withColumn("FTr", col("FTr").cast("double")) \
                     .withColumn("OWS", col("OWS").cast("double")) \
                     .withColumn("DWS", col("DWS").cast("double")) \
                     .withColumn("WS", col("WS").cast("double")) \
                     .withColumn("OBPM", col("OBPM").cast("double")) \
                     .withColumn("DBPM", col("DBPM").cast("double")) \
                     .withColumn("2P", col("2P").cast("double")) \
                     .withColumn("2PA", col("2PA").cast("double")) \
                     .withColumn("2P%", col("2P%").cast("double")) \
                     .withColumn("eFG%", col("eFG%").cast("double")) \
                     .withColumn("USG%", col("USG%").cast("double")) \

cleaned_df.show(5)

+---+----+---------------+---+---+---+---+----+---+----+-----+----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+---+----+---+---+-----+---+---+---+-----+-----+-----+-----+---+---+-----+---+---+---+---+---+---+---+---+---+
|   |Year|         Player|Pos|Age| Tm|  G|  GS| MP| PER|  TS%|3PAr|  FTr|ORB%|DRB%|TRB%|AST%|STL%|BLK%|TOV%|USG%|blanl| OWS| DWS|  WS|WS/48|blank2|OBPM|DBPM|BPM|VORP| FG|FGA|  FG%| 3P|3PA|3P%|   2P|  2PA|  2P%| eFG%| FT|FTA|  FT%|ORB|DRB|TRB|AST|STL|BLK|TOV| PF|PTS|
+---+----+---------------+---+---+---+---+----+---+----+-----+----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+---+----+---+---+-----+---+---+---+-----+-----+-----+-----+---+---+-----+---+---+---+---+---+---+---+---+---+
|  0|1950|Curly Armstrong|G-F| 31|FTW| 63|null|   |null|0.368|    |0.467|    |    |    |    |    |    |    |null|     |-0.1| 3.6| 3.5|     |      |null|null|   |    |144|516|0.279|   |   |   |144.0|516.0|0.279|0.279|170|241|0.705|   |   |   |176|   |   |   |217|458|
|  1|1950|   Cliff Barker| SG| 29|INO| 49|null|   |null|0.435|    |0.387|    |    |    |    |    |    |    |null|     | 1.6| 0.6| 2.2|     |      |null|null|   |    |102|274|0.372|   |   |   |102.0|274.0|0.372|0.372| 75|106|0.708|   |   |   |109|   |   |   | 99|279|
|  2|1950|  Leo Barnhorst| SF| 25|CHS| 67|null|   |null|0.394|    |0.259|    |    |    |    |    |    |    |null|     | 0.9| 2.8| 3.6|     |      |null|null|   |    |174|499|0.349|   |   |   |174.0|499.0|0.349|0.349| 90|129|0.698|   |   |   |140|   |   |   |192|438|
|  3|1950|     Ed Bartels|  F| 24|TOT| 15|null|   |null|0.312|    |0.395|    |    |    |    |    |    |    |null|     |-0.5|-0.1|-0.6|     |      |null|null|   |    | 22| 86|0.256|   |   |   | 22.0| 86.0|0.256|0.256| 19| 34|0.559|   |   |   | 20|   |   |   | 29| 63|
|  4|1950|     Ed Bartels|  F| 24|DNN| 13|null|   |null|0.308|    |0.378|    |    |    |    |    |    |    |null|     |-0.5|-0.1|-0.6|     |      |null|null|   |    | 21| 82|0.256|   |   |   | 21.0| 82.0|0.256|0.256| 17| 31|0.548|   |   |   | 20|   |   |   | 27| 59|
+---+----+---------------+---+---+---+---+----+---+----+-----+----+-----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+------+----+----+---+----+---+---+-----+---+---+---+-----+-----+-----+-----+---+---+-----+---+---+---+---+---+---+---+---+---+
only showing top 5 rows

In [215]:
cleaned_df.printSchema()

root
 |-- : string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Pos: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tm: string (nullable = true)
 |-- G: string (nullable = true)
 |-- GS: double (nullable = true)
 |-- MP: string (nullable = true)
 |-- PER: double (nullable = true)
 |-- TS%: double (nullable = true)
 |-- 3PAr: string (nullable = true)
 |-- FTr: double (nullable = true)
 |-- ORB%: string (nullable = true)
 |-- DRB%: string (nullable = true)
 |-- TRB%: string (nullable = true)
 |-- AST%: string (nullable = true)
 |-- STL%: string (nullable = true)
 |-- BLK%: string (nullable = true)
 |-- TOV%: string (nullable = true)
 |-- USG%: double (nullable = true)
 |-- blanl: string (nullable = true)
 |-- OWS: double (nullable = true)
 |-- DWS: double (nullable = true)
 |-- WS: double (nullable = true)
 |-- WS/48: string (nullable = true)
 |-- blank2: string (nullable = true)
 |-- OBPM: double (nullable = true)
 |-- DBPM: double (nullable = true)
 |-- BPM: string (nullable = true)
 |-- VORP: string (nullable = true)
 |-- FG: string (nullable = true)
 |-- FGA: string (nullable = true)
 |-- FG%: string (nullable = true)
 |-- 3P: string (nullable = true)
 |-- 3PA: string (nullable = true)
 |-- 3P%: string (nullable = true)
 |-- 2P: double (nullable = true)
 |-- 2PA: double (nullable = true)
 |-- 2P%: double (nullable = true)
 |-- eFG%: double (nullable = true)
 |-- FT: string (nullable = true)
 |-- FTA: string (nullable = true)
 |-- FT%: string (nullable = true)
 |-- ORB: string (nullable = true)
 |-- DRB: string (nullable = true)
 |-- TRB: string (nullable = true)
 |-- AST: string (nullable = true)
 |-- STL: string (nullable = true)
 |-- BLK: string (nullable = true)
 |-- TOV: string (nullable = true)
 |-- PF: string (nullable = true)
 |-- PTS: string (nullable = true)

In [216]:
### Search for Players who have muliple entries for one year (because they played for one Team)

In [217]:
withoutDuplicates_df = aggregated_df.dropDuplicates(subset= ['Player', 'Year'])

In [218]:
### Update the name of the Name (Before 'Player'-> Now 'Full_Name') and adapt the season to the other data.

In [219]:
from pyspark.sql.functions import col

# Umbenennen der Spalten "Year" in "Saison" und "Player" in "Full_Name"
updated_df = withoutDuplicates_df.withColumnRenamed("Player", "Full_Name")
updated_year_df = updated_df.withColumn("Season", col("Year") - 1)
updated_year_df.show(5)

+----------+----+----+----+-----+-----+----+----+----+----+----+----+-----+-----+-----+-----+---+------+
| Full_Name|Year|  GS| PER|  TS%|  FTr|USG%| OWS| DWS|  WS|OBPM|DBPM|   2P|  2PA|  2P%| eFG%|Pos|Season|
+----------+----+----+----+-----+-----+----+----+----+----+----+----+-----+-----+-----+-----+---+------+
|          |    |null|null| null| null|null|null|null|null|null|null| null| null| null| null|   |  null|
|A.C. Green|1986| 1.0|11.8|0.564| 0.43|14.7| 1.4| 2.0| 3.3|-0.5| 0.8|208.0|382.0|0.545| 0.54| PF|1985.0|
|A.C. Green|1987|72.0|15.7|0.599| 0.48|14.7| 4.3| 3.3| 7.6| 0.6| 1.0|316.0|582.0|0.543|0.538| PF|1986.0|
|A.C. Green|1988|64.0|14.5|0.581|0.592|14.7| 4.5| 3.4| 7.9| 0.2| 0.8|322.0|638.0|0.505|0.503| PF|1987.0|
|A.C. Green|1989|82.0|17.8|0.594|0.474|17.0| 5.8| 3.5| 9.4| 1.6| 0.6|397.0|741.0|0.536|0.532| PF|1988.0|
+----------+----+----+----+-----+-----+----+----+----+----+----+----+-----+-----+-----+-----+---+------+
only showing top 5 rows

In [220]:
### Drop the column "year" because "Season" is the updated version

In [221]:
updated_drop_df=updated_year_df.drop("Year")
updated_drop_df.show(5)

+----------+----+----+-----+-----+----+----+----+----+----+----+-----+-----+-----+-----+---+------+
| Full_Name|  GS| PER|  TS%|  FTr|USG%| OWS| DWS|  WS|OBPM|DBPM|   2P|  2PA|  2P%| eFG%|Pos|Season|
+----------+----+----+-----+-----+----+----+----+----+----+----+-----+-----+-----+-----+---+------+
|          |null|null| null| null|null|null|null|null|null|null| null| null| null| null|   |  null|
|A.C. Green| 1.0|11.8|0.564| 0.43|14.7| 1.4| 2.0| 3.3|-0.5| 0.8|208.0|382.0|0.545| 0.54| PF|1985.0|
|A.C. Green|72.0|15.7|0.599| 0.48|14.7| 4.3| 3.3| 7.6| 0.6| 1.0|316.0|582.0|0.543|0.538| PF|1986.0|
|A.C. Green|64.0|14.5|0.581|0.592|14.7| 4.5| 3.4| 7.9| 0.2| 0.8|322.0|638.0|0.505|0.503| PF|1987.0|
|A.C. Green|82.0|17.8|0.594|0.474|17.0| 5.8| 3.5| 9.4| 1.6| 0.6|397.0|741.0|0.536|0.532| PF|1988.0|
+----------+----+----+-----+-----+----+----+----+----+----+----+-----+-----+-----+-----+---+------+
only showing top 5 rows

In [222]:
aggregated_df = aggregated_df.dropDuplicates()

In [223]:
### Fill the Null-Values with 0

In [224]:
filled_df = updated_drop_df.fillna(0)
filled_df.show(5)

+----------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+------+
| Full_Name|  GS| PER|  TS%|  FTr|USG%|OWS|DWS| WS|OBPM|DBPM|   2P|  2PA|  2P%| eFG%|Pos|Season|
+----------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+------+
|          | 0.0| 0.0|  0.0|  0.0| 0.0|0.0|0.0|0.0| 0.0| 0.0|  0.0|  0.0|  0.0|  0.0|   |   0.0|
|A.C. Green| 1.0|11.8|0.564| 0.43|14.7|1.4|2.0|3.3|-0.5| 0.8|208.0|382.0|0.545| 0.54| PF|1985.0|
|A.C. Green|72.0|15.7|0.599| 0.48|14.7|4.3|3.3|7.6| 0.6| 1.0|316.0|582.0|0.543|0.538| PF|1986.0|
|A.C. Green|64.0|14.5|0.581|0.592|14.7|4.5|3.4|7.9| 0.2| 0.8|322.0|638.0|0.505|0.503| PF|1987.0|
|A.C. Green|82.0|17.8|0.594|0.474|17.0|5.8|3.5|9.4| 1.6| 0.6|397.0|741.0|0.536|0.532| PF|1988.0|
+----------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+------+
only showing top 5 rows

In [225]:
### Transform the Seson from Double to Integer

In [226]:
integer_df = filled_df.withColumn("Season", filled_df["Season"].cast("integer"))
integer_df.show(5)

+----------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+------+
| Full_Name|  GS| PER|  TS%|  FTr|USG%|OWS|DWS| WS|OBPM|DBPM|   2P|  2PA|  2P%| eFG%|Pos|Season|
+----------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+------+
|          | 0.0| 0.0|  0.0|  0.0| 0.0|0.0|0.0|0.0| 0.0| 0.0|  0.0|  0.0|  0.0|  0.0|   |     0|
|A.C. Green| 1.0|11.8|0.564| 0.43|14.7|1.4|2.0|3.3|-0.5| 0.8|208.0|382.0|0.545| 0.54| PF|  1985|
|A.C. Green|72.0|15.7|0.599| 0.48|14.7|4.3|3.3|7.6| 0.6| 1.0|316.0|582.0|0.543|0.538| PF|  1986|
|A.C. Green|64.0|14.5|0.581|0.592|14.7|4.5|3.4|7.9| 0.2| 0.8|322.0|638.0|0.505|0.503| PF|  1987|
|A.C. Green|82.0|17.8|0.594|0.474|17.0|5.8|3.5|9.4| 1.6| 0.6|397.0|741.0|0.536|0.532| PF|  1988|
+----------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+------+
only showing top 5 rows

In [227]:
### Put season on the 2nd place

In [228]:
reordered_df = integer_df.withColumn("Season", col("Season").cast("integer")) \
                         .select(integer_df.columns[0], "Season", *integer_df.columns[1:-1])
reordered_df.show(5)

+----------+------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+
| Full_Name|Season|  GS| PER|  TS%|  FTr|USG%|OWS|DWS| WS|OBPM|DBPM|   2P|  2PA|  2P%| eFG%|Pos|
+----------+------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+
|          |     0| 0.0| 0.0|  0.0|  0.0| 0.0|0.0|0.0|0.0| 0.0| 0.0|  0.0|  0.0|  0.0|  0.0|   |
|A.C. Green|  1985| 1.0|11.8|0.564| 0.43|14.7|1.4|2.0|3.3|-0.5| 0.8|208.0|382.0|0.545| 0.54| PF|
|A.C. Green|  1986|72.0|15.7|0.599| 0.48|14.7|4.3|3.3|7.6| 0.6| 1.0|316.0|582.0|0.543|0.538| PF|
|A.C. Green|  1987|64.0|14.5|0.581|0.592|14.7|4.5|3.4|7.9| 0.2| 0.8|322.0|638.0|0.505|0.503| PF|
|A.C. Green|  1988|82.0|17.8|0.594|0.474|17.0|5.8|3.5|9.4| 1.6| 0.6|397.0|741.0|0.536|0.532| PF|
+----------+------+----+----+-----+-----+----+---+---+---+----+----+-----+-----+-----+-----+---+
only showing top 5 rows

In [229]:
'''client = mdb.MongoClient("mongodb://pt-n20.p4001.w3.cs.technikum-wien.at:4001")
db = client.nba_data
collection = db.season_stats_csv'''

'client = mdb.MongoClient("mongodb://pt-n20.p4001.w3.cs.technikum-wien.at:4001")\ndb = client.nba_data\ncollection = db.season_stats_csv'

In [230]:
# Rename the "_c0" column to "Season"
reordered_df = reordered_df.withColumnRenamed("_c0", "Season")

# Convert the "Season" column to integer type
reordered_df = reordered_df.withColumn("Season", reordered_df["Season"].cast("integer"))

In [231]:
# Select the desired columns from the reordered DataFrame
selected_columns = ['Full_Name','Season', 'Pos', 'GS', 'PER', 'TS%',
                    'FTr', 'USG%', 'OWS', 'DWS',
                    'WS', 'OBPM', 'DBPM', '2P',
                    '2PA', '2P%', 'eFG%']
selected_df = reordered_df.select(selected_columns)

# Filter the data based on the desired years/seasons
filtered_data = selected_df.filter(selected_df["Season"].isin(years_seasons))

# Convert the Spark DataFrame to a pandas DataFrame
pandas_df = filtered_data.toPandas()

In [232]:
# Upload data to MongoDB
client = mdb.MongoClient("mongodb://pt-n20.p4001.w3.cs.technikum-wien.at:4001")
db = client["nba_data"]
collection = db["season_stats_csv"]
collection.insert_many(pandas_df.to_dict("records"))

print("Data uploaded to MongoDB successfully.")

Data uploaded to MongoDB successfully.